
.icon-search:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */